{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="POST" class="card card-body text-center">
                <h1>Log In</h1>
                <p class="text-danger"">{{error}}</p>
                {% csrf_token %}
                {{form.as_p}}
                <button>
                    LOG IN
                </button>
            </form>
        </div>
    </div>
</main>
            {% endblock %}